= form_for(@quantity) do |f|
  - if @quantity.errors.any?
    #error_explanation
      h2
        = pluralize(@quantity.errors.count, "error")
        | prohibited this quantity from being saved:
      ul
        - @quantity.errors.full_messages.each do |message|
          li= message
  .field
    = f.label :amount
    br/
    = f.text_field :amount
  .field
    = f.label :recipe_id
    br/
    = f.text_field :recipe_id
  .field
    = f.label :ingredient_id
    br/
    = f.text_field :ingredient_id
  .actions
    = f.submit
